
# Repository
smemi309-final-evaluation-challenge-2022/
SCM LipPreading/

# files
Event-based video classification - Github.ipynb
SCM - LipPrea
ding2-Copy1.ipynb
SCM - LipPreading2.ipynb
SCM - LipPreading.ipynb
SCM - LipPreading3.ipynb
SCM Jeremy Gomes Adly Zaroui - LipPreading - final code.ipynb